{% extends 'base.html' %}
{% block title %}
Friends page..
{% endblock %}

{% block content %}
<div class="container">
  <h1>Friends...</h1>
  <br>
  <form action="/friends" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="submit" name="submit" value="submit" class="btn btn-secondary">
    <div class="container">
      <input type="radio" name="gender" value="male">male
      <input type="radio" name="gender" value="female">female
    </div>
  </form>
  {% for friend in friends %}
  <h4>{{ friend.name }}</h4>
  <h5>{{  friend.gender  }}</h5>
  {% endfor %}
</div>
{% endblock %}